<div class="w-full h-full bg-white">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput name="email" type="email" #emailInpu="ngModel" ngModel placeholder="email">
         </mat-form-field> 
<br>
        <mat-form-field>
            <input matInput type="password" #emailInpu="ngModel"ngModel placeholder="password">
         </mat-form-field>
<br>
        <button mat-raised-button type="submit" color="primary">logn</button>

    </form>

     
</div>