<div class="w-full h-full bg-white">
    <form [formGroup]="form" (submit)="onSavePost()">
        <mat-form-field>
            <input matInput type="text" formControlName="title" placeholder="Post Title">
         </mat-form-field>
         <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
         </div>
         <div class="imgPrev" *ngIf="imgPreview !== '' && imgPreview">
            <img [src]="imgPreview" [alt]="form.value.title">
         </div>
<br>
        <mat-form-field>
            <input matInput type="text" formControlName="content" placeholder="Post content">
         </mat-form-field>
<br>
        <button mat-raised-button type="submit" color="primary">Save</button>

    </form>

     
</div>

 

