@if (posts.length > 0) {
    <div>
        @for (post of posts; track $index) {
           <div>
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <div class="postImage">
                <img [src]="post.imagePath" [alt]="post.title">
            </div>
            <a [routerLink]="['/edit',post.id]">edit</a> <br>
            <button (click)="onDelete(post.id)">delete</button>
            <hr>
        </div> 
        }
    </div>
    
}

@else {
    <h3>no post available</h3>
}
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="[2,5,10,50]" (page)="onChangedPage($event)" aria-label="Select page">
</mat-paginator>

