<div class="w-full h-full bg-white">
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-form-field>
            <input matInput name="email" type="email" #emailInpu="ngModel" ngModel required email placeholder="email">
         </mat-form-field> 
<br>
        <mat-form-field>
            <input matInput name="password" type="password" #emailInpu="ngModel"ngModel required placeholder="password">
         </mat-form-field>
<br>
        <button mat-raised-button type="submit" color="primary">signup</button>

    </form>
</div>